<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - SPRI Film Explorer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.3.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.3.js"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="/static/wheelzoom/wheelzoom.js"></script>
    <script src="/static/iv-viewer/iv-viewer.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <link href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="/static/iv-viewer/iv-viewer.min.css">

    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script type="text/javascript">
        var seg_view_callbacks = $.Callbacks();

        $( document ).ready(function() {
            if (Cookies.get('seg-view')) {
                var mode = Cookies.get('seg-view');
                seg_view_callbacks.fire(mode);
                if (mode == 'zoom') {
                    $("#seg-view-zoom").prop("checked", true).trigger("click");
                } else if (mode == 'scroll') {
                    $("#seg-view-scroll").prop("checked", true).trigger("click");
                } else if (mode == 'startend') {
                    $("#seg-view-startend").prop("checked", true).trigger("click");
                }
            }
        })

        function update_seg_view_cookie(mode) {
            Cookies.set('seg-view', mode, {'samesite': 'strict'});
            seg_view_callbacks.fire(mode);
        }
    </script>

    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    </script>

    {% block header_extra %}{% endblock %}

</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/static/logo-no-text.png" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        {% for b, l in breadcrumbs %}
                            <li><a href="{{ l }}">{{ b }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>

        <div class="navbar-end">
            {% if current_user.is_authenticated %}
                <div class="navbar-item">
                    <p>Hi, {{ current_user.first_name }}!</p>
                </div>
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="{{ url_for('auth_bp.logout') }}" class="button is-light">
                            Log out
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="{{ url_for('auth_bp.login') }}" class="button">
                            Log in
                        </a>
                        <a href="{{ url_for('auth_bp.signup') }}" class="button">
                            Create Account
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}

<footer class="footer">
    <div class="content has-text-right">
        <p>
            This page was generated in __EXECUTION_TIME__ seconds.
            <a href="https://exhibits.stanford.edu/radarfilm" alt="Stanford page about the film digitization project"><i
                    class="fa fa-info-circle" aria-hidden="true"></i></a>
            <a href="https://dx.doi.org/10.1073/pnas.1821646116"
               alt="Link to the initial paper about the film digitization"><i class="fas fa-file-alt"></i></a>
            <a href="https://github.com/radioglaciology/spri-explore"
               alt="GitHub repo for this project (not public - you may need to be granted access)"><i
                    class="fab fa-github"></i></a>
        </p>
        <p><a href="/docs/citation">Contributors, Licensing, and Citation</a></p>
        <p>
            Need help? <a href="/docs/start" title="View a tutorial">Check out the tutorial</a>.
        </p>
    </div>
</footer>
</body>
</html>