Film Display: &nbsp;
<fieldset id="seg-view-fieldset">
    <div class="switch-toggle switch-holo" style="width: 260px;">
        <input id="seg-view-zoom" name="seg-view" type="radio" checked>
        <label for="seg-view-zoom" onclick="update_seg_view_cookie('zoom')">Zoom</label>

        <input id="seg-view-scroll" name="seg-view" type="radio">
        <label for="seg-view-scroll" onclick="update_seg_view_cookie('scroll')">Scroll</label>

        <input id="seg-view-startend" name="seg-view" type="radio">
        <label for="seg-view-startend" onclick="update_seg_view_cookie('startend')">Start/End</label>

        <a></a>
    </div>
</fieldset>