{% extends "base.html" %}

{% block title %}Flight {{ flight }}{% endblock %}

{% block content %}
<section class="section">
    <div class="container" id="flight-header">
        <!--<h2>Flight #{{ flight }}</h2>-->
    </div>
    <div class="container" id="flight-plots">
        <nav class="level">
            <div class="level-item has-text-centered">
                {{ map|safe }}
            </div>
            <div class="level-item has-text-centered">
                {{ cbd_plot|safe }}
            </div>
        </nav>
    </div>
    <div class="container" id="flight-update">
        {%  include "update.html" %}
    </div>
    {% if (current_user.is_authenticated and current_user.write_permission) %}
        <div class="container" id="flight-history">
            {%  include "history.html" %}
        </div>
    {% endif %}
    {% if segment_id is not none %}
        <script type="text/javascript">update_form_id_{{ pageref }}({{ segment_id }})</script>
    {% endif %}

</section>
{% endblock %}
