{% extends "base.html" %}

{% block title %}Flight {{ flight }}{% endblock %}

{% block content %}
<section class="section">
    <div class="container" id="flight-plots">
        <div class="columns is-vcentered">
            <div class="column" style="max-height:400px; height: 400px;">
                {{ map|safe }}
            </div>
            <div class="column" style="max-height:400px; height: 400px;">
                {{ cbd_plot|safe }}
            </div>
            <div class="column is-2" style="">
                {{ cbd_controls|safe }}
                {{ map_controls|safe }}
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="subtitle"><span id="segments-selected-count">0</span> Film Segments Selected</h2>
    </div>

    <div id="film-segments-list">

    </div>

</section>

<script type="text/javascript">
    function update_film_segment_list(ids) {
        $.ajax({
            type: "POST",
            url: "/api/queryids",
            data: {'ids': ids, 'sort': 'cbd'},
            success: function(res) {
                $("#segments-selected-count").html(ids.length);
                $("#film-segments-list").html(res);
            }
        });
    }
</script>
{% endblock %}
