{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="formwrapper">
                <form method="POST">

                    <div class="columns">
                        <div class="column is-4 is-offset-4">
                            <article class="message is-primary">
                                <div class="message-header">
                                    <p>Welcome Back!</p>
                                </div>
                                <div class="message-body">

                                    {% for message in get_flashed_messages() %}
                                        <div class="notification is-warning">
                                            {{ message }}
                                        </div>
                                    {% endfor %}

                                    <div class="field">
                                        <p class="control has-icons-left">
                                            {{ form.email(class_='input', placeholder='Email') }}
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </p>
                                    </div>

                                    <div class="field">
                                        <p class="control has-icons-left">
                                            {{ form.password(class_='input', placeholder='Password') }}
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </p>
                                    </div>

                                    {{ form.csrf_token }}

                                    <div class="submitbutton">
                                        {{ form.submit(class_='button is-primary')}}
                                    </div>

                                </div>
                            </article>

                            <div class="notification">
                                <div class="loginsignup">
                                    <p><span>Don't have an account? <a href="{{ url_for('auth_bp.signup') }}">Sign up.</a></span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                </form>
            </div>
        </div>
    </section>
{% endblock %}
