{% extends "base.html" %}

{% block title %}Segment Query Results{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <form method="get">
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Flight
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Enter a flight ID to filter by flight. Leave blank for all flights.</span>
                                </div>
                            </label>
                            <div class="control">
                                <input class="input" name="flight" type="text"
                                       value="{% if request.args.get('flight') %}{{ request.args.get('flight') }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Reel
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Enter a reel ID to filter by film reel source. Leave blank for all reels.</span>
                                </div>
                            </label>
                            <div class="control">
                                <input class="input" name="reel" type="text"
                                       value="{% if request.args.get('reel') %}{{ request.args.get('reel') }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Verification
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Filter by segments that are verified or unverified</span>
                                </div>
                            </label>
                            <div class="control">
                                <div class="select">
                                    <select name="verified">
                                        <option value="">Any</option>
                                        <option value="1" {% if request.args.get('verified') == "1" %}selected="selected"{% endif %}>Only Verified</option>
                                        <option value="0" {% if request.args.get('verified') == "0" %}selected="selected"{% endif %}>Only Unverified</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Scope Type
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Filter by segments of a particular type</span>
                                </div>
                            </label>
                            <div class="control">
                                <div class="select">
                                    <select name="scope">
                                        <option value="">Any</option>
                                        <option value="a" {% if request.args.get('scope') == 'a' %}selected="selected"{% endif %}>A Scope</option>
                                        <option value="z" {% if request.args.get('scope') == 'z' %}selected="selected"{% endif %}>Z Scope</option>
                                        <option value="esm" {% if request.args.get('scope') == 'esm' %}selected="selected"{% endif %}>ESM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Minimum first CBD
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Show only segments with at least this first CBD number (leave blank to not use)</span>
                                </div>
                            </label>
                            <div class="control">
                                <input class="input" name="mincbd" type="number"
                                       value="{% if request.args.get('mincbd') %}{{ request.args.get('mincbd') }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Maximum first CBD
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Show only segments with a first CBD less than or equal to this number (leave blank to not use)</span>
                                </div>
                            </label>
                            <div class="control">
                                <input class="input" name="maxcbd" type="number"
                                       value="{% if request.args.get('maxcbd') %}{{ request.args.get('maxcbd') }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Minimum first frame
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Show only segments with at least this first frame number (leave blank to not use)</span>
                                </div>
                            </label>
                            <div class="control">
                                <input class="input" name="minframe" type="number"
                                       value="{% if request.args.get('minframe') %}{{ request.args.get('minframe') }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Maximum first frame
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Show only segments with a first frame less than or equal to this number (leave blank to not use)</span>
                                </div>
                            </label>
                            <div class="control">
                                <input class="input" name="maxframe" type="number"
                                       value="{% if request.args.get('maxframe') %}{{ request.args.get('maxframe') }}{% endif %}">
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Sort By
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Sort segments in ascending order by this parameter</span>
                                </div>
                            </label>
                            <div class="control">
                                <div class="select">
                                    <select name="sort">
                                        <option value="cbd" {% if request.args.get('sort') == 'cbd' %}selected="selected"{% endif %}>CBD</option>
                                        <option value="frame" {% if request.args.get('sort') == 'frame' %}selected="selected"{% endif %}>Frame</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Results per page
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Show this many results per page</span>
                                </div>
                            </label>
                            <div class="control">
                                <input class="input" name="n" type="number"
                                       value="{% if request.args.get('n') %}{{ request.args.get('n') }}{% else %}10{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Show History
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Show or hide revision history for each film segment
                                    (Note: you must be logged in and have permissions to see history.)</span>
                                </div>
                            </label>
                            <div class="control">
                                <div class="select">
                                    <select name="history">
                                        <option value="1" {% if request.args.get('history') == '1' %}selected="selected"{% endif %}>Show History</option>
                                        <option value="0" {% if request.args.get('history') == '0' %}selected="selected"{% endif %}>Hide History</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="level">
                <div class="level-right">
                    <div class="level-item">
                        <div class="control"><input class="button is-primary" type="submit" value="Submit Query" /></div>
                    </div>
                </div>
            </nav>
        </form>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="notification">
            Your query returned {{ n_total_results }} results. This is page {{ current_page }} of {{ n_pages }}.
            You can apply actions in bulk to all results at the <a href="#actions">bottom of this page</a>.
        </div>
    </div>
    <div class="container">
        {% include "paginate.html" %}
    </div>
    {% for seg in segments %}
        {% set pageref = loop.index %}
        <div class="container">
            <h2 class="subtitle">Film Segment {{ seg.id }} from Flight {{ seg.flight }}</h2>
        </div>
        <div class="container">
            {%  include "update.html" %}
        </div>
        {% if (current_user.is_authenticated and current_user.write_permission and show_history) %}
            <div class="container">
                {%  include "history.html" %}
            </div>
        {% endif %}
        <script type="text/javascript">update_form_id_{{ pageref }}({{ seg.id }})</script>
    {% endfor %}
    <div class="container">
        {% include "paginate.html" %}
    </div>
</section>

<section class="section">
    <div class="container">
        <a name="actions"></a>
        {% if (current_user.is_authenticated and current_user.write_permission) %}
            <h2 class="subtitle">Process all results of this query...</h2>
            <div class="notification">
                Actions applied here will affect all <strong>{{ n_total_results }} film segments</strong> selected by
                this query -- not just the ones on this page. These actions do not change the film segments themselves.
                They only produce temporary outputs you may download.
            </div>

            <div class="box">
                <form id="stitch-form">
                    <input type="hidden" name="query_id" value="{{ query_id }}" />
                    <input type="hidden" name="scope" value="query" />
                    <input type="hidden" name="action_type" value="stitch" />

                    <nav class="level">

                        <div class="level-left">
                            <div class="level-item">
                                <div class="field">
                                    <label class="label">
                                        Source Format
                                        <div class="tooltip">
                                            <i class="fas fa-info-circle"></i>
                                            <span class="tooltiptext">You can generate stitched images from the low-quality JPG previews or the full original TIFF images</span>
                                        </div>
                                    </label>
                                    <div class="control">
                                        <div class="select">
                                            <select name="format">
                                                <option value="jpg">JPG (low quality, fast)</option>
                                                {% if enable_tiff == 1 %}
                                                    <option value="tiff">TIFF (high quality, slow)</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="level-item">
                                <div class="field">
                                    <label class="label">
                                        Flip images
                                        <div class="tooltip">
                                            <i class="fas fa-info-circle"></i>
                                            <span class="tooltiptext">If CBD numbers are decreasing in the images, flip horizontally to correct this in the stitched image</span>
                                        </div>
                                    </label>
                                    <div class="control">
                                        <div class="select">
                                            <select name="flip">
                                                <option value="x">Flip images horizontally</option>
                                                <option value="">Don't change orientation</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="level-item">
                                <div class="field">
                                    <label class="label">
                                        Re-scale in X
                                        <div class="tooltip">
                                            <i class="fas fa-info-circle"></i>
                                            <span class="tooltiptext">Stretch or shrink the output image in X by this ratio</span>
                                        </div>
                                    </label>
                                    <div class="control">
                                        <input class="input" name="scale_x" type="number" value="1.0">
                                    </div>
                                </div>
                            </div>
                            <div class="level-item">
                                <div class="field">
                                    <label class="label">
                                        Re-scale in Y
                                        <div class="tooltip">
                                            <i class="fas fa-info-circle"></i>
                                            <span class="tooltiptext">Stretch or shrink the output image in Y by this ratio</span>
                                        </div>
                                    </label>
                                    <div class="control">
                                        <input class="input" name="scale_y" type="number" value="1.0">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="level-right" style="margin-top: auto;">
                            <div class="level-item">
                                <div class="field">
                                    <div class="control">
                                        <button class="button is-primary" id="stitch-button">Stitch into single image</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </nav>
                </form>
            </div>

            <h2 class="subtitle">Make changes to film segments shown on this page...</h2>
            <div class="notification">
                Actions applied here will affect all film segments shown on this page.
            </div>

            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link" onclick="bulk_action('page', 'mark_verified')">Mark all verified</button>
                            </div>
                            <div class="control">
                                <button class="button is-link" onclick="bulk_action('page', 'set_60mhz')">Set Frequency to 60 MHz</button>
                            </div>
                            <div class="control">
                                <button class="button is-link" onclick="bulk_action('page', 'set_300mhz')">Set Frequency to 300 MHz</button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <h2 class="subtitle">Make changes to all query results...</h2>
            <div class="notification is-warning">
                <div class="control"><label class="checkbox">
                    <input type="checkbox" id="all-query-agreement">
                    I understand that actions applied here will affect all <strong>{{ n_total_results }} film
                    segments</strong> selected by this query -- not just the ones on this page. Be careful!
                </label></div>
            </div>

            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="field is-grouped">
                            <div class="control">
                                <button
                                        class="button is-danger bulk-danger"
                                        onclick="bulk_action('query', 'mark_verified')"
                                        disabled
                                >Mark all verified
                                </button>
                            </div>
                            <div class="control">
                                <button
                                        class="button is-danger bulk-danger"
                                        onclick="bulk_action('query', 'set_60mhz')"
                                        disabled
                                >Set frequency to 60 MHz
                                </button>
                            </div>
                            <div class="control">
                                <button
                                        class="button is-danger bulk-danger"
                                        onclick="bulk_action('query', 'set_300mhz')"
                                        disabled
                                >Set frequency to 300 MHz
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <script type="text/javascript">
                function bulk_action(scope, action_type) {
                    $.ajax({
                        type: "POST",
                        url: "/query/action",
                        data: {'query_id': '{{ query_id }}', 'action_type': action_type, 'scope': scope},
                        success: function(res) {
                            if (res === 'success') {
                                $("#bulk-action-modal-text").html("<i class='fas fa-check'></i> Action successful!");
                            } else {
                                $("#bulk-action-modal-text").html("Got an error. Please copy this error and tell Thomas to fix it.<br /><pre>"+res+"</pre>");
                            }
                            $("#bulk-action-modal-btn").removeAttr("disabled");
                        }
                    });
                    $("#bulk-action-modal").addClass("is-active");
                }

                $("#stitch-button").click(function(event){
                    event.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/query/action",
                        data: $("#stitch-form").serialize(),
                        success: function(res) {
                            if (res === 'success') {
                                $("#bulk-action-modal-text").html("<i class='fas fa-check'></i> Success! <a href='/outputs/{{ query_id }}' download>Download your image here.</a>");
                                $("#bulk-action-modal-btn").hide();
                                $("#bulk-action-modal-btn-close").show();
                            } else {
                                $("#bulk-action-modal-text").html("Got an error. Please copy this error and tell Thomas to fix it.<br /><pre>"+res+"</pre>");
                            }
                            $("#bulk-action-modal-btn").removeAttr("disabled");
                        }
                    });
                    $("#bulk-action-modal").addClass("is-active");
                });

                function reset_modal(){
                    $("#bulk-action-modal").removeClass("is-active");
                    $("#bulk-action-modal-btn").show();
                    $("#bulk-action-modal-btn").attr("disabled", true);
                    $("#bulk-action-modal-btn-close").hide();
                    $('#bulk-action-modal-text').html("<i class='fas fa-spinner fa-spin'></i>");
                }

                $("#all-query-agreement").click(function() {
                    $(".bulk-danger").prop('disabled', ! this.checked);
                });
            </script>
        {% else %}
            <div class="notification">
                You must be logged in and have appropriate permissions to use bulk processing tools.
            </div>
        {% endif %}
    </div>
</section>
<div class="modal" id="bulk-action-modal">
    <div class="modal-background"></div>
    <div class="modal-content"><div class="box">
        <div class="box">
            <span id="bulk-action-modal-text"><i class='fas fa-spinner fa-spin'></i></span>
        </div>
        <div class="section">
            <div class="control is-pulled-right">
                <button class="button is-link" onclick="location.reload();" id="bulk-action-modal-btn" disabled>Refresh Query</button>
            </div>
            <div class="control is-pulled-right">
                <button class="button is-link" onclick='reset_modal()' id="bulk-action-modal-btn-close" style="display: none;">Close</button>
            </div>
        </div>
    </div></div>
</div>
{% endblock %}
