{% extends "base.html" %}

{% block title %}Segment Query Results{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <form method="get">
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Flight
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Enter a flight ID to filter by flight. Leave blank for all flights.</span>
                                </div>
                            </label>
                            <div class="control">
                                <input class="input" name="flight" type="text"
                                       value="{% if request.args.get('flight') %}{{ request.args.get('flight') }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Reel
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Enter a reel ID to filter by film reel source. Leave blank for all reels.</span>
                                </div>
                            </label>
                            <div class="control">
                                <input class="input" name="reel" type="text"
                                       value="{% if request.args.get('reel') %}{{ request.args.get('reel') }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Verification
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Filter by segments that are verified or unverified</span>
                                </div>
                            </label>
                            <div class="control">
                                <div class="select">
                                    <select name="verified">
                                        <option value="">Any</option>
                                        <option value="1" {% if request.args.get('verified') == "1" %}selected="selected"{% endif %}>Only Verified</option>
                                        <option value="0" {% if request.args.get('verified') == "0" %}selected="selected"{% endif %}>Only Unverified</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Scope Type
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Filter by segments of a particular type</span>
                                </div>
                            </label>
                            <div class="control">
                                <div class="select">
                                    <select name="scope">
                                        <option value="">Any</option>
                                        <option value="a" {% if request.args.get('scope') == 'a' %}selected="selected"{% endif %}>A Scope</option>
                                        <option value="z" {% if request.args.get('scope') == 'z' %}selected="selected"{% endif %}>Z Scope</option>
                                        <option value="esm" {% if request.args.get('scope') == 'esm' %}selected="selected"{% endif %}>ESM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Minimum first CBD
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Show only segments with at least this first CBD number (leave blank to not use)</span>
                                </div>
                            </label>
                            <div class="control">
                                <input class="input" name="mincbd" type="number"
                                       value="{% if request.args.get('mincbd') %}{{ request.args.get('mincbd') }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Maximum first CBD
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Show only segments with a first CBD less than or equal to this number (leave blank to not use)</span>
                                </div>
                            </label>
                            <div class="control">
                                <input class="input" name="maxcbd" type="number"
                                       value="{% if request.args.get('maxcbd') %}{{ request.args.get('maxcbd') }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Minimum first frame
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Show only segments with at least this first frame number (leave blank to not use)</span>
                                </div>
                            </label>
                            <div class="control">
                                <input class="input" name="minframe" type="number"
                                       value="{% if request.args.get('minframe') %}{{ request.args.get('minframe') }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Maximum first frame
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Show only segments with a first frame less than or equal to this number (leave blank to not use)</span>
                                </div>
                            </label>
                            <div class="control">
                                <input class="input" name="maxframe" type="number"
                                       value="{% if request.args.get('maxframe') %}{{ request.args.get('maxframe') }}{% endif %}">
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Sort By
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Sort segments in ascending order by this parameter</span>
                                </div>
                            </label>
                            <div class="control">
                                <div class="select">
                                    <select name="sort">
                                        <option value="cbd" {% if request.args.get('sort') == 'cbd' %}selected="selected"{% endif %}>CBD</option>
                                        <option value="frame" {% if request.args.get('sort') == 'frame' %}selected="selected"{% endif %}>Frame</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Results per page
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Show this many results per page</span>
                                </div>
                            </label>
                            <div class="control">
                                <input class="input" name="n" type="number"
                                       value="{% if request.args.get('n') %}{{ request.args.get('n') }}{% else %}10{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">
                            <label class="label">
                                Show History
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Show or hide revision history for each film segment
                                    (Note: you must be logged in and have permissions to see history.)</span>
                                </div>
                            </label>
                            <div class="control">
                                <div class="select">
                                    <select name="history">
                                        <option value="1" {% if request.args.get('history') == '1' %}selected="selected"{% endif %}>Show History</option>
                                        <option value="0" {% if request.args.get('history') == '0' %}selected="selected"{% endif %}>Hide History</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="level">
                <div class="level-right">
                    <div class="level-item">
                        <div class="control"><input class="button is-primary" type="submit" value="Submit Query" /></div>
                    </div>
                </div>
            </nav>
        </form>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="notification">
            Your query returned {{ n_total_results }} results. This is page {{ current_page }} of {{ n_pages }}.
            You can apply actions in bulk to all results at the <a href="#actions">bottom of this page</a>.
        </div>

        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-item">
                <h2 class="subtitle">Results</h2>
            </div>
            <div class="navbar-end">
                <div class="navbar-item" {% if not (show_view_toggle|default(false, true)) %}style="visibility: hidden;"{% endif %}>
                    {% include "filmdisplaytoggle.html" %}
                </div>
            </div>
        </nav>
    </div>
    
    {% include "queryresultslist.html" %}

</section>
{% endblock %}
