<div class="box">

    <div id="update-load-overlay-{{ pageref }}" class="loader-wrapper">
        <div class="loader is-loading"></div>
    </div>

    <h2 class="subtitle">Image and Metadata</h2>

    <div class="container">
        <div id="flight-radargram-zoom-container-{{ pageref }}" class="flight-radargram-zoom-container">
            <div id="flight-radargram-{{ pageref }}" class="flight-radargram"></div>
        </div>
        <div id="flight-radargram-scroll-container-{{ pageref }}" style="display: none;">
            <div class="flight-radargram">
                <div class="horizontal-scroll-wrapper" style="max-width: 100%;">
                    <img id="flight-radargram-full-{{ pageref }}" src=""/>
                </div>
            </div>
        </div>
        <div id="flight-radargram-startend-container-{{ pageref }}" class="flight-radargram-beginning-end-container" style="display: none;">
            <div class="flight-radargram">
                <div id="scroll-wrap-beginning-{{ pageref }}" class="horizontal-scroll-wrapper" style="max-width: 49%;">
                    <img id="flight-radargram-fixed-beginning-{{ pageref }}" src=""/>
                </div>
                <div id="scroll-wrap-end-{{ pageref }}" class="horizontal-scroll-wrapper" style="max-width: 49%;">
                    <img id="flight-radargram-fixed-end-{{ pageref }}" src=""/>
                </div>
            </div>
        </div>
        <div style="text-align: right;">
            <div class="tooltip">
                <i class="fas fa-info-circle"></i>
                <span class="tooltiptext-left" style="width: 400px;">
                    This is a preview of the A scope or Z scope. <br>
                    You can scroll to zoom and drag to pan. <br>
                    Initially, a low resolution image is loaded. Quality will improve as the high resolution copy is loaded. <br>
                </span>
            </div>
        </div>
    </div>

    <div class="container" id="flight-update-form-{{ pageref }}">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <button id="prev-by-frame-{{ pageref }}" class="button" disabled><i class="fas fa-arrow-left"></i> &nbsp; By Frame</button>&nbsp;
                    <button id="prev-by-cbd-{{ pageref }}" class="button" disabled><i class="fas fa-arrow-left"></i> &nbsp; By CBD</button>
                </div>
            </div>
            <div class="level-item">
                <a alt="Download JPG preview of radargram" id="download-jpeg-link-{{ pageref }}" download class="disabled"><i class="fas fa-download"></i> &nbsp; JPEG</a>&nbsp;&nbsp;
                <a alt="Download full radargram (TIFF)" id="download-tiff-link-{{ pageref }}" download class="disabled"><i class="fas fa-download"></i> &nbsp; TIFF</a>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <button id="next-by-cbd-{{ pageref }}" class="button" disabled>By CBD &nbsp; <i class="fas fa-arrow-right"></i></button>&nbsp;
                    <button id="next-by-frame-{{ pageref }}" class="button" disabled>By Frame &nbsp; <i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
        </nav>
        <form id="update-{{ pageref }}">
            <nav class="level">
                <input type="hidden" value="-1" id="update_segment_id-{{ pageref }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="level-item">
                    <fieldset disabled>
                        <div class="field">
                            <label class="label">
                                Path
                                <div class="tooltip">
                                    <i class="fas fa-info-circle"></i>
                                    <span class="tooltiptext">Relative path to raw data file on our server</span>
                                </div>
                            </label>
                            <div class="control">
                                <input class="input" id="update_segment_path-{{ pageref }}" name="path" type="text" readonly value="">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="level-item">
                    <fieldset disabled>
                        <div class="field">
                            <label class="label">First Frame</label>
                            <div class="control">
                                <input class="input" id="update_segment_first_frame-{{ pageref }}" name="first_frame" type="text" readonly value="">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="level-item">
                    <fieldset disabled>
                        <div class="field">
                            <label class="label">Last Frame</label>
                            <div class="control">
                                <input class="input" id="update_segment_last_frame-{{ pageref }}" name="last_frame" type="text" readonly value="">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="level-item">
                    <div class="field">
                        <label class="label">Scope Type</label>
                        <div class="select">
                            <select id="update_segment_scope_type-{{ pageref }}" name="scope_type">
                                <option value="a">A Scope</option>
                                <option value="z">Z Scope</option>
                                <option value="esm">ESM</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="level-item">
                    <div class="field">
                        <label class="label">Frequency</label>
                        <div class="select">
                            <select id="update_segment_instrument_type-{{ pageref }}" name="instrument_type">
                                <option value="0">Unknown</option>
                                <option value="10">60 MHz</option>
                                <option value="20">300 MHz</option>
                            </select>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="level">
                <div class="level-item">
                    <div class="field">
                        <label class="label">Flight</label>
                        <div class="control">
                            <input class="input" id="update_segment_flight-{{ pageref }}" name="flight" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="level-item">
                    <div class="field">
                        <label class="label">First CBD</label>
                        <div class="control">
                            <input class="input" id="update_segment_first_cbd-{{ pageref }}" name="first_cbd" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="level-item">
                    <div class="field">
                        <label class="label">Last CBD</label>
                        <div class="control">
                            <input class="input" id="update_segment_last_cbd-{{ pageref }}" name="last_cbd" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="level-item">
                    <div class="field">
                        <label class="label">Junk</label>
                        <div class="control">
                            <input name="is_junk" type="hidden" value="">
                            <input class="checkbox" id="update_segment_is_junk-{{ pageref }}" name="is_junk" type="checkbox" value="junk" >
                        </div>
                    </div>
                </div>
                <div class="level-item">
                    <div class="field">
                        <label class="label">Verified</label>
                        <div class="control">
                            <input name="is_verified" type="hidden" value="">
                            <input class="checkbox" id="update_segment_is_verified-{{ pageref }}" name="is_verified" type="checkbox" value="verified" >
                        </div>
                    </div>
                </div>
                <div class="level-item">
                    <div class="field">
                        <label class="label">Needs Review</label>
                        <div class="control">
                            <input name="needs_review" type="hidden" value="">
                            <input class="checkbox" id="update_segment_needs_review-{{ pageref }}" name="needs_review" type="checkbox" value="review" >
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="level">
                <div class="level-item" style="width: 100%;">
                    <div class="field" style="width: 100%; margin: 1.3em;">
                        <label class="label">Notes</label>
                        <div class="control">
                            <textarea class="textarea" id="update_segment_notes-{{ pageref }}" name="notes"></textarea>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="level">
                <div class="level-left"></div>
                <div class="level-right">
                    <div class="level-item" id="update-loading-{{ pageref }}" style="display: none;"><i class='fas fa-spinner fa-spin'></i></div>
                    <div class="level-item">
                        {% if (current_user.is_authenticated and current_user.write_permission) %}
                            <div class="field is-grouped">
                                <div class="control">
                                    <button id="submit-update-{{ pageref }}" class="button is-link">Update</button>
                                </div>
                                <div class="control">
                                    <button id="reset-update-{{ pageref }}" class="button is-link has-background-warning">Reset</button>
                                </div>
                            </div>
                        {% else %}
                            <p>You don't have write permissions yet.</p>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </form>
    </div>
</div>

<script type='text/javascript'>
    // wheelzoom($("#radargram"));

    const container_{{ pageref }} = document.querySelector('#flight-radargram-{{ pageref }}');
    const viewer_{{ pageref }} = new ImageViewer(container_{{ pageref }}, { /* options */ });

    var current_id_{{ pageref }} = 0;

    (function ($) {
        $.fn.serializeFormJSON = function () {

            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    })(jQuery);

    $("#submit-update-{{ pageref }}").click(function(event) {
            event.preventDefault();
            $("#update-loading-{{ pageref }}").html("<i class='fas fa-spinner fa-spin'></i>");
            $("#update-loading-{{ pageref }}").fadeIn(100);

            json = JSON.stringify($("#update-{{ pageref }}").serializeFormJSON());

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/api/segments/"+$("#update_segment_id-{{ pageref }}").val(),
                data: json,
                dataType: "json"
            })
            .done(function() {
                $("#update-loading-{{ pageref }}").html("<i class='fas fa-check'></i>");
                update_form_id_{{ pageref }}(current_id_{{ pageref }});
            })
            .fail(function() {
                $("#update-loading-{{ pageref }}").html("<i class='fas fa-exclamation-triangle'></i> Sorry, your update failed for some reason.")
            })
            .always(function(){
                $("#update-loading-{{ pageref }}").fadeOut(2000);
                setTimeout(function() {  $("#update-loading-{{ pageref }}").html("") }, 2000);
            });
    });

    $("#reset-update-{{ pageref }}").click(function(event) {
        event.preventDefault();
        update_form_id_{{ pageref }}(current_id_{{ pageref }});
    });

    function update_form_id_{{ pageref }}(id, version) {
        console.log("Loading " + id)
        $('#update-load-overlay-{{ pageref }}').addClass('loader-is-active');

        current_id_{{ pageref }} = id;

        var api_path = ""
        if (typeof version == 'undefined'){
            api_path = "/api/segments/"+id
        } else {
            api_path = "/api/segments/"+id+"/version/"+version
        }

        $.getJSON( api_path, function( data ) {
            $("#update_segment_id-{{ pageref }}").val(-1);
            $("#update_segment_first_cbd-{{ pageref }}").val(data['first_cbd']);
            $("#update_segment_last_cbd-{{ pageref }}").val(data['last_cbd']);
            $("#update_segment_first_frame-{{ pageref }}").val(data['first_frame']);
            $("#update_segment_last_frame-{{ pageref }}").val(data['last_frame']);
            $("#update_segment_flight-{{ pageref }}").val(data['flight']);
            $("#update_segment_path-{{ pageref }}").val(data['path']);
            $("#update_segment_scope_type-{{ pageref }}").val(data['scope_type']);
            $("#update_segment_instrument_type-{{ pageref }}").val(data['instrument_type']);
            $("#update_segment_is_junk-{{ pageref }}").prop('checked', data['is_junk']);
            $("#update_segment_is_verified-{{ pageref }}").prop('checked', data['is_verified']);
            $("#update_segment_needs_review-{{ pageref }}").prop('checked', data['needs_review']);
            $("#update_segment_id-{{ pageref }}").val(data['id']);
            $("#update_segment_notes-{{ pageref }}").val(data['notes']);

            // Update next/previous buttons
            if(data['next_by_frame']) {
                $("#next-by-frame-{{ pageref }}").off('click').click(function() {
                    $("#next-by-frame-{{ pageref }}").prop('disabled', true);
                    update_form_id_{{ pageref }}(data['next_by_frame']);
                });
                $("#next-by-frame-{{ pageref }}").prop('disabled', false);
            } else {
                $("#next-by-frame-{{ pageref }}").prop('disabled', true);
            }

            if(data['prev_by_frame']) {
                $("#prev-by-frame-{{ pageref }}").off('click').click(function() {
                    $("#prev-by-frame-{{ pageref }}").prop('disabled', true);
                    update_form_id_{{ pageref }}(data['prev_by_frame']);
                });
                $("#prev-by-frame-{{ pageref }}").prop('disabled', false);
            } else {
                $("#prev-by-frame-{{ pageref }}").prop('disabled', true);
            }

            if(data['next_by_cbd']) {
                $("#next-by-cbd-{{ pageref }}").off('click').click(function() {
                    $("#next-by-cbd-{{ pageref }}").prop('disabled', true);
                    update_form_id_{{ pageref }}(data['next_by_cbd']);
                });
                $("#next-by-cbd-{{ pageref }}").prop('disabled', false);
            } else {
                $("#next-by-cbd-{{ pageref }}").prop('disabled', true);
            }

            if(data['prev_by_cbd']) {
                $("#prev-by-cbd-{{ pageref }}").off('click').click(function() {
                    $("#prev-by-cbd-{{ pageref }}").prop('disabled', true);
                    update_form_id_{{ pageref }}(data['prev_by_cbd']);
                });
                $("#prev-by-cbd-{{ pageref }}").prop('disabled', false);
            } else {
                $("#prev-by-cbd-{{ pageref }}").prop('disabled', true);
            }

            // Update download links
            $("#download-jpeg-link-{{ pageref }}").prop('href', "/api/radargram/jpg/"+id+".jpg").removeClass("disabled");
            $("#download-tiff-link-{{ pageref }}").prop('href', "/api/radargram/tiff/"+id+".tiff").removeClass("disabled");

            $('#update-load-overlay-{{ pageref }}').removeClass('loader-is-active');

        });
        viewer_{{ pageref }}.load("/api/radargram/jpg/"+id+"/h/200", "/api/radargram/jpg/"+id);
        $("#flight-radargram-fixed-beginning-{{ pageref }}").attr("src","/api/radargram/jpg/"+id);
        $("#flight-radargram-fixed-end-{{ pageref }}").attr("src","/api/radargram/jpg/"+id);
        $("#flight-radargram-full-{{ pageref }}").attr("src","/api/radargram/jpg/"+id);

        if (typeof update_history_id_{{ pageref }} == 'function') {
            update_history_id_{{ pageref }}(id);
        }

        $("#scroll-wrap-end-{{ pageref }}").scrollLeft(10000);
    }

    function update_seg_view_{{ pageref }}(mode) {
        if (mode == 'zoom') {
            $("#flight-radargram-scroll-container-{{ pageref }}").hide()
            $("#flight-radargram-startend-container-{{ pageref }}").hide()
            $("#flight-radargram-zoom-container-{{ pageref }}").show()
        } else if (mode == 'scroll') {
            $("#flight-radargram-zoom-container-{{ pageref }}").hide()
            $("#flight-radargram-startend-container-{{ pageref }}").hide()
            $("#flight-radargram-scroll-container-{{ pageref }}").show()
        } else if (mode == 'startend') {
            $("#flight-radargram-scroll-container-{{ pageref }}").hide()
            $("#flight-radargram-zoom-container-{{ pageref }}").hide()
            $("#flight-radargram-startend-container-{{ pageref }}").show()
            $("#scroll-wrap-end-{{ pageref }}").scrollLeft(10000);
        }
    }
    seg_view_callbacks.add(update_seg_view_{{ pageref }})
</script>